*, *:before, *:after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Maven Pro', sans-serif;
	margin: 0;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	min-height: 600px;
	color: #fff;
	background: url(../img/bg-main.jpg) no-repeat center;
	background-size: cover;
	position: relative;
}

.main-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: .8;
	z-index: 0;
	background-image: -moz-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
	background-image: -webkit-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
	background-image: -ms-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	width: 90%;
	position: relative;
	z-index: 2;
}

.menu {
	width: 60%;
}

.menu ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.menu-list__item {
	padding-bottom: 15px;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}

.menu-list__item:hover {
	border-bottom: 2px solid #fff;
}

.get-started-btn {
	padding: 20px 30px;
	margin-left: 100px;
	border-radius: 100px;
	border: 1px solid #fff;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

.main-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
	text-align: center;
}

.main-text span {
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 40px;
}

.main-text span::after {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.main-text span::before {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.main-text h1 {
	margin: 0;
	font-size: 86px;
}

.main-text p {
	width: 390px;
	line-height: 28px;
	font-size: 16px;
}

.main-arrow {
	position: relative;
	z-index: 2;
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;

}

.arrow-down {
	text-align: center;
	line-height: 55px;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	background-color: #fff;
	box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
}

.table {
	background-color: #f9fafc;
	padding: 10rem;
}

.table-header {
	text-align: center;
	margin-bottom: 5rem;
}

.table-header span {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: #9fa4af;
}

.table-header span::after {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #6e45e2;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.table-header span::before {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #6e45e2;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.table-header h2 {
	color: #4f4f6f;
	font-size: 60px;
	margin: 0;
}

.table-header p {
	width: 40rem;
	display: inline-block;
	color: #9fa4af;
	line-height: 28px;
	font-size: 1.8rem;
}

.price-tags {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.price-tags__item {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #fff;
	align-items: center;
	width: 440px;
	height: 650px;
	border: 1px solid #d3d7e5;
	border-radius: 30px;
	text-align: center;
	transition: 0.2s;
}

.price-tags__item span {
	margin-top: 50px;
	margin-bottom: 25px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #9fa4af;
}

.price-tags__item:hover {
	box-shadow: 0px 0px 81.88px 10.12px rgba(204, 204, 223, 0.71);
}

.price-tags__item h4 {
	color: #4f4f6f;
	margin: 0;
	font-size: 50px;
}

.price-tags__item h4 sup {
	vertical-align: super;
	padding-right: 5px;
	font-size: 16px;
}

.price-tags__item h4 sub {
	font-size: 20px;
}

.price-tags__item p {
	color: #9fa4af;
	margin-top: 45px;
	width: 300px;
	line-height: 28px;
	font-size: 16px;
}

.price-btn {
	cursor: pointer;
	color: #c2c9db;
	background: #fff;
	margin: 60px 0;
	border: 1px solid #d3d7e5;
	text-transform: uppercase;
	font-size: 12px;
	outline-style: none;
	font-weight: bold;
	padding: 20px 50px;
	border-radius: 50px;
	box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
}

.price-btn:hover {
	background-color: #6e45e2;
	color: #fff;
	box-shadow: 0;
}







